.main_wrapper {
    height: 324px;
    display: flex;
    justify-content: center;
}

.main_container {
    border-left: 1px solid;
    width: 1200px;
    height: 344px;
}

.main {
    margin-left: 20px;
    width: 1200px;
    height: 344px;
    background-image: url('/assets/neven-krcmarek-7m35uR4mjV0-unsplash (1).jpg');
    background-size: 65%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 30px;
    font-weight: 800;
    line-height: 48px;

    h1 {
        padding-bottom: 12px;
        border-bottom: 7px solid;
        font-family: Arial black;
    }

    .btn {
        :hover {
            background-color: initial;
            color: rgb(0, 0, 0);
            border: 3px solid rgb(0, 0, 0);

            
        }
    
    button {
            width: 450px;
            height: 53px;
            background: #444;
            font-size: 26px;
            font-weight: bold;
            color: #ffff;
            text-align: center;
            justify-content: flex-end;
            margin-top: 30px;
            margin-left: 330px;
            cursor: pointer;
            border: none;
        
        
    }}
}

