.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  height: 100%;
}
.main1 {
  border-left: 1px solid black;
  position: relative;
}
.form {
  width: 1000px;
  display: flex;
  flex-direction: column;
  background-color: white;
  top: 65%;
  left: 0%;
  padding: 30px 0 0 50px;
  box-shadow: 1px -2px -10px 0px;
  margin-top: -50px;
}
.itemName {
  height: 30px;
  width: 400px;
}
.itemNameBlock {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.Description {
  height: 50px;
  width: 400px;
}
.descriptionBlock {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
label {
  width: 250px;
  font-size: 20px;
}
.image {
  /* width: 400px;
  height: 200px; */
  border: 1px solid black;
  /* opacity: 0; */
  cursor: pointer;
}
.addImageBlok {
}
.addImage {
  display: flex;
  justify-content: space-around;
  padding: 20px 20px;
  width: 400px;
  height: 200px;
  border: 1px solid black;
}
.imageBlock {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.imageBlock2 {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.imgInpt {
  width: 130px;
}
.error {
  color: red;
  font-size: 16px;
  margin-left: 250px;
}
.done {
  color: green;
  font-size: 24px;
  margin-left: 260px;
  width: 200px;
  height: 40px;
  border: 1px solid green;
  align-items: center;
  display: flex;
  justify-content: center;
}
.text {
  height: 30px;
  width: 200px;
  padding-left: 10px;
}
.textBlock {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.category {
  height: 40px;
  width: 200px;
  text-align: center;
  font-size: 18px;
}
.categoryBlock {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
.btn {
  display: inline-block;
  background: #444;
  color: #fff;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: none;
  font-size: 20px;
  width: 150px;
  height: 40px;
  margin-left: 280px;
  margin-top: 20px;
}
.btn:active {
  display: inline-block;
  background: #fff;
  color: #444;
  box-sizing: border-box;
  border: 1px solid #444;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  width: 150px;
  height: 40px;
  margin-left: 280px;
  margin-top: 20px;
}
.imgMain {
  height: 200px;
  width: 100%;
  padding-top: 20px;
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  background-image: url("..//../assets/main.jpg");
}
