.sidebar {



h1{
    font-weight: normal;
    font-size: 20px;
    margin-top: 80px;
    border-bottom: 2px solid black;
    width: 280px;
    font-weight: bold;
}

.list li{
    font-size: 20px;
    width: 200px;

}


.list  a{
    list-style-type: none;
    text-decoration: none;    
    color: black;
}


h2{
    font-weight: normal;
    font-size: 20px;
    margin-top: 80px;
    border-bottom: 2px solid black;
    width: 280px;
    font-weight: bold;
}

   .checkbox{
    width: 20px;
    height: 20px;  
    color: black; 
}

.checkbox input{
    margin-top: 10px;
}

.input{
    font-size: 20px;
}

   

 h3{
    font-weight: normal;
    font-size: 20px;
    margin-top: 80px;
    border-bottom: 2px solid black;
    width: 280px;
    font-weight: bold;
    text-align: left;
}


.range{
    width: 25   0px;
    color: white;
}

input{
    width: 120px;
    height: 30px;
    margin: 5px;
    outline: none;
}



.slidecontainer{
    width: 230px;
    margin-top: 5px; 
    
}

  .list li:hover{
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 5px;    
   
  }

}















