p{
    font-size: 18px;
    margin: 5px 0;
}

.footer span {
  font-size: 25px;
  margin-left: 110px;
  font-family: "Times New Roman", serif;
}

.footer {
  margin-top: 50px;
}




.footer_block{
    display: flex;
    gap: 100px;
    margin-left: 110px;
}

.footerpng img {
  padding: 5px;
  margin-right: 5px;
  width: 15px;
}




.footer_info{
    padding: 0 30px;
    border-left: 1px solid gray;
  
}

.footer_info:first-child {
    border: none;
    padding: 0;
}

